.card {
  background: rgb(159, 155, 155);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 50rem;
  height: 100%;
  margin: 1rem auto;
  border-radius: 6px;
  background-color: rgb(233, 201, 250);
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}